.banner {
  width: 100%;
  height: 186px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
.center-banner{
    width: 83%;
    height: inherit;
 display: flex;
 justify-content: center;
 align-items: center;
 .image-banner{
    width: 99%;
    height: inherit;
    object-fit: cover;
    border-radius: 15px;
 }
}
}