.story {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;

  .center-story {
    width: 80%;
    height: inherit;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      row-gap: 5px;
      flex-flow: column wrap;
      text-align: center;
      font-size: 18px;
      background: #fff;

      .swiper-slide-item {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        justify-content: center;
        column-gap: 15px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          outline: 2px solid blueviolet;
          outline-offset: 3px;
        }
        h5 {
          font-size: 11px;
          font-family: var(--fontfamilly);
          font-weight: normal;
          margin-top: 10px;
        }
      }
      
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
