.table {
  width: 100%;
  height: 500px;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  .table-register {
    width: 400px;
    height: 480px;

    border-radius: 15px;
    border: 1px solid #2b2b2b;
    padding: 20px;
    .top-register {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .bottom-regidter {
      width: 100%;
      height: 330px;

      .title-bottom {
        width: fit-content;
        height: fit-content;

        .text-register {
          font-family: var(--fontfamilly);
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
          word-spacing: 5px;
          margin: 10px 0;
          padding-right: 15px;
          .span-r {
            width: 2px;
            height: 15px;
            background-color: #2b2b2b;
            display: inline-block;
          }
        }
      }
      .note {
        font-family: var(--fontfamilly);
        font-size: 12px;
        font-weight: lighter;
        text-decoration: none;
        word-spacing: 2px;
        margin: 5px 0;
        padding-right: 15px;
      }
      .form-fa {
        width: 100%;
        height: 250px;
        display: flex;
        
      }
    }
  }
}
